#joel{
    font-size: 30px;
    border: 0px solid black;
}


#principal{
    width: 900px;
    height: 1auto;
    overflow: hidden;
    border: 2px solid black;
    margin: auto; /*el marge es troba sempre al centre*/   
    background-color: antiquewhite;
}

header{
    width: 900px;
    height: 100px;
    border: 0px solid black;
}

#titol{
    width: 200px;
    height: 100px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
}

#subtitol{
    border: 1px solid antiquewhite;
    margin-top: -40px;
}

.menu{
    width: 600px;
    height: 40px;
    border: 0px solid blue;
    float: right;
    margin-top: 40px;
    background-color: cornflowerblue;
}


.menu ul li{
    list-style: none; /*treu els punts de la llista*/
    float: right; /* deixes lliure i el poses a l'esquera = de costat*/
        
}

.menu ul li a:hover{/*quan el mouse es posa a sobre, canvia de color*/
    background-color: antiquewhite;
    color: black;/*color de text*/
    transition: background 1s, color 1s;/* espera 1 segon a fer els canvis de color*/
}

.menu ul li a{
    text-decoration: none; /*Treu el subratllat de l'enllaç*/
    padding: 10px 22px; /* deixem espai entre els diferents components de la llista*/
    border: 0px solid black;
    font-size: 16px;
    color: wheat; /*color lletra*/
    
}

#slide{
    margin-top: 10px;
    margin-left: 300px;
    
}

#categories{
    width: 900px;
    height: auto;
    overflow: hidden; /* per treure tots els elements que el contingut sigui superiot al que té*/
    border: 0px solid black;
    margin-top: 5px;    
}

.un{
    width: 280px;
    height: auto;
    overflow: hidden;
    border: 1px solid gray;
    float: left;
    padding: 5px;
    text-align: center;
    

}

.dos{
    margin-left: 12px;
    margin-right: 12px;
}

.llegir-mes{
    border: 0px solid black;
    text-decoration: none;
    padding: 10px 20px 10px 20px; /* superior-dreta-inferior-esquerra*/
}

.llegir-mes:hover{
    background-color: cornflowerblue;
    color: white;
    transition: background 1s, color 1s;
}

#info{
    width: 900px;
    height: auto;
    overflow: hidden;
    border: 0px solid black;
}

#esquerra{
    width: 580px;
    height: auto;
    overflow: hidden;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    padding: 5px;
}

#dreta{
    width: 290px;
    height: auto;
    overflow: hidden;
    border: 0px solid black;
    float: right;
    margin-top: 10px;
    padding: 5px;
}

#f1,video{
    font-size: 28;
    text-align: center;
}

footer{
    width: 900px;
    height: auto;
    overflow: hidden;
    text-align: center;

}

html{
    background-color: mediumslateblue;
}